extends ../layouts/default.pug

mixin create-form(formulario)
  form(action='/site/cadastro'+ formulario.action + '?type=' + formType, method='post')
    input(type='hidden', name='formType', value=formType)
    each input,index in formulario.inputs
      case input.tipo

        when 'radio'
          .radio-inline
             input(type='radio', name=input.identificador, value=input.value)
             = input.titulo

        when 'valor'
          label= input.titulo
          +input-group("R$")
            +input-simple("text", "", {name: "" + input.identificador})

        when 'hidden'
          input(type='hidden', name=input.identificador, value=input.value)

        when 'select'
          label= input.titulo
          div
              select(name=input.identificador)
                each selectOption in input.options
                  option(value=selectOption.id)
                    = selectOption.nome

        default
          label= input.titulo
          +input-simple("text", "", {name: "" + input.identificador})
      p
    p
    +submit("" + formulario.submitTxt)

block content
  if alert == 1
    +alert-ix-success(" Operação realizada com sucesso")
  if alert == 0
    +alert-ix-danger(" Operação não realizada, possívelmente dados inconsistentes")

  +panel-primary(cadastroTitle)
    +tab-list(["Adicionar", "Alterar", "Remover"])
      +tab("Adicionar", "active")
        h2 Adicionar
        p
        +create-form(formAdicionar)
      +tab("Alterar")
        h2 Alterar
        p
        +create-form(formAlterar)
      +tab("Remover")
        h2 Remover
        p
        +create-form(formRemover)

  +panel-primary(tableLabel)
    +table-striped(tableHeader, tableContent)
